/* リセットCSS */
*{
    margin: 0;
}
/* ヘッダ部分 */
header{
    height: 5vh;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    background-color: ghostwhite;

}
.header-name{
 
    width: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.68;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

}
.header-auth{

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.header-logout{
  
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
article{
    width: 15%;
    height: 90vh;
   
}
.side-menu-container{
    text-align: center;
    margin: 2%;
}
.side-menu{
    font-family: cursive;
}

main{
    display: flex;
}

button{
  border-color: cornsilk;
  background-color: #eff1f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
  font-size: 16px;
  margin-top: 1%;
}
