
.list-container{
    width: 80%;

}

.list-title{
    text-align:center;
    margin-top: 3%;
    font-size: 32px;
}

.list-main-container{



 


}
/*  */
.list-title-container{
    margin: 10%;
    font-size: 32px;
    text-align: center;
}

.list-heading{
    margin-left: 10%;
}
.list-each-category-container{
    padding-left: 20%;
}



.each-result{
    
}




.list-main-containts{
    width: 60%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    margin: 5% auto;
    height: 90vh;

    
}
