.shipout-title-container{  
    margin: 2% 5%;
}
.shipout-title{
    font-size: 32px;
}
.shipout-main-container{
    width: 80%;
    margin: 0 2%;

}

.shipout-main-section{
    display: flex;
    background-color: rgb(247, 237, 210);
    opacity: 0.88;
    padding: 4% 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.shipout-title{
    font-size: 32px;
}

.shipout-input-box{
    width: 90%;
    margin-left: 10%;
    margin-top: 1%;
    font-size: 20px;

}



.shipout-main-containts{
    width: 80%;

}



.shipout-input-name{
    margin: 10px;
}

.shipout-submit-container{
    text-align: right;
    margin: 2%;
}
.shipout-submit-btn{
    width: 30%;
}
.shipout-result-section{
    width: 30%;
    margin: 2%;
    
    border-radius: 5%;
    
}




.shipout-result-container{
    overflow-y: scroll;
    background-color: white;
    width: 90%;
    height: 80%;
    
}
.shipout-each-result{
    padding-top: 5%;
    width: 80%;
    height: 10%;
    
}





.shipout-confirm-btn-container{
    display: flex;
    justify-content: right;
}
.shipout-confirm-btn{
    width: 20%;

}




.shipout-input-section{
    margin: 2%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    background-color: rgb(199, 193, 193);
    width: 60%;
}

.shipout-hikiate-title{
    width: 60%;
    margin: 3% 8%;
}

.error-msg{
    text-align: center;
    margin-top: 2%;
    font-size: 32px;
    font-weight: 3px;
    color: red;
}