/* リセットCSS */
*{
    margin: 0;
}
.shipin-main-container{
    width: 80%;
}
/* メインコンテンツ */
.shipin-title-container{  
    margin: 2% 5%;
}

.shipin-title{
    font-size: 32px;
}

.shipin-main-section{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.shipin-main-containts{
    width: 80%;
    background-color: rgb(194, 218, 245);
    opacity: 0.77;
}

.shipin-input-box{
    width: 60%;
    font-size: 20px;
    margin-left: 10%;
}
.shipin-input-name{
    height: 10%;
    padding: 2%;
    font-size: 20px;

}

.shipin-input-submit-container{
    text-align: right;
    margin: 2%;
}
.shipin-submit-btn{
    width: 20%;
}

