.shipout-confirm-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    width: 80%;
    margin: 2% auto;
    
    
}


.shipout-confirm-title{
    text-align: center;
    margin-top: 2%;
    font-size: 32px;
}
.shipout-confirm-main-container{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    background-color:rgb(222, 241, 232);
    margin: 2% auto;
    width: 80%;
    height: 80%;

}
.shipout-form-container{
    height: 80%;

}

.shipout-confirm-customer{
    font-size: 32px;
}
.shipout-confirm-item{
    font-size: 32px;
}
.shipout-confirm-cases{
    font-size: 32px;
}

.shipout-confirm-submit{
    font-size: 32px;
    float: right;   
    margin-right: 2%;
}

