/* リセットCSS */
*{
    margin: 0;
}
/* メインコンテンツ */
.translate-title-container{
    margin: 10px;
}

.translate-title{
    font-size: 16px;
}
.translate-container{
    width: 80%;
    
}

.translate-main-container{
    display: flex;
    justify-content: center;
    background-color: saddlebrown;
}
.translate-main-section{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.translate-main-containts{
    width: 60%;
    background-color: skyblue;
}
.translate-show-container{
    background-color: sandybrown;
}
.translate-input{
    width: 60%;
    margin-left: 10%;
}

.translate-input-name{
    margin: 10px;
}

.translate-submit-container{
text-align: right;
margin: 10px;
}
.translate-submit-btn{
    width: 20%;
}

